@media(max-width:650px) {

    /* SECTION1 MEDIA  */
    #section1 main .navbar .logo {
        font-size: 18px;
        font-weight:600;
        cursor: pointer;
    }

        
    #section1 main .navbar .logo img {
        width: 20px;
    }

    #section1 main .navbar ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin-right: 0px;
    }
    
    #section1 main .navbar ul li {
        margin: 8px;
    }

    #section1 main .navbar ul li a {
        text-decoration: none;
        font-size: 13px;
        color: #000;
        font-weight: 900;
    
        transition-property: all;
        transition-duration: .5s;
    
    }

    #section1 main .navbar ul li .nav:hover {
        background-color: var(--button);
        padding: 5px 10px;
        border-radius: 10px;
    }


    #section1 main .content .bold {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        max-width: 100%;
        line-height: 1.2;
        margin-bottom: 16px;
    }

    #section1 main .content .light {
        max-width: 100%;
        text-align: center;
    }

    #section1 main .background-div {
        background-image: url(images/hero-bg-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
        max-width: 100%;
        margin-top: 160px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        position: relative;
        top: 0px;
    
        animation-name: background;
        animation-duration: 3s;
    }

    #section1 main .background-div .button {
        position: relative;
        top: -100px;
        height: 70px;
        width: 100%;
    }

    #section1 main .background-div .button1, .button2 {
        display: block;
        width: 100%;
        padding: 18px 22px;
        border-radius: 7px;
        text-decoration: none;
        border: none;
        margin-bottom: 22px;
        margin-right: 10px;
        font-weight: 550;
        cursor: pointer;
    }

    /* SECTION3 MEDIA  */
    #section3 .container .cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }


    /* SECTION4 MEDIA  */
    #section4 .container .cards {
        /* background-color: #bfbebe; */
        display: grid;
        justify-content: center;
        gap: 20px;
       
    }


    /* SECTION5 MEDIA  */
    #section5 .container {
        /* background-color: #4891ff; */
        max-width: 1050px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    #section5 .container .item {
        line-height: 1.5;
        padding: 0px;
        /* background-color: rgb(3, 88, 88); */
        width: 90%;
        margin: auto;
    }

    #section5 .container .item:nth-of-type(1) {
        grid-column: 1 span 2;
        padding: 25px;
        border-radius: 10px;
    }

    #section5 .container .item:nth-of-type(2) {
        grid-column: 1;
        padding: 10px;
        border-radius: 10px;
    }
    #section5 .container .item:nth-of-type(3) {
        grid-column: 2;
        padding: 10px;
        border-radius: 10px;
    }
    #section5 .container .item:nth-of-type(4) {
        grid-column: 1;
        padding: 10px;
        border-radius: 10px;
    }
    
}

@media(max-width:400px) {
    body {
        width: 100%;
        margin: auto;
    }

    #section1 main .navbar .logo {
        font-size: 14px;
        font-weight:600;
        cursor: pointer;
    }

        
    #section1 main .navbar .logo img {
        width: 20px;
    }

    #section1 main .navbar ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin: auto;
    }
    
    #section1 main .navbar ul li {
        margin: 6px;
    }

    #section1 main .navbar ul li a {
        text-decoration: none;
        font-size: 11px;
        color: #000;
        font-weight: 900;
    
        transition-property: all;
        transition-duration: .5s;
    
    }
}
