@media(max-width:650px) {
    .navbar ul li {
        margin: 8px;
    }

    .navbar ul li a {
        text-decoration: none;
        font-size: 13px;
        color: #000;
        font-weight: 900;
    
        transition-property: all;
        transition-duration: .5s;
    
    }

    form .super-div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        max-width: 100%;
        /* margin-top: 150px; */
        margin-left: auto;
        margin-right: auto;
    }

    form h2 {
        margin-top: 0px;
    }

    .container2 {
        position: relative;
        top: -86px;
    }

    label {
        position: relative;
        top: -130px;
        animation: label 3s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
    }

    button {
        position: relative;
        top: -130px;
    }

    @keyframes label {
        0% {bottom: -1000px; top:0px;}
        100% {bottom: 0px; top:0px;}
    }
}


/* smaller media starts here  */
@media(max-width:400px) {
    body {
        width: 100%;
        margin: auto;
    }

    .navbar .logo {
        font-size: 14px;
        font-weight:600;
        cursor: pointer;
    }

        
    .navbar .logo img {
        width: 20px;
    }

    .navbar ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin: auto;
    }
    
    .navbar ul li {
        margin: 6px;
    }

    .navbar ul li a {
        text-decoration: none;
        font-size: 11px;
        color: #000;
        font-weight: 900;
    
        transition-property: all;
        transition-duration: .5s;
    
    }
}
